{% load static %}
<!doctype html>
<html>
<head>
  <title>combine_materials</title>
  
  <meta charset="utf-8">
</head>
<style>
  h1{
    text-align: center;
  }
</style>
<body>
  <div style="text-align: right; font-size : 1em;">
    <a href="{% url 'home' %}">메인페이지</a>
    <a href="{% url 'upload' %}">업로드페이지</a>
    <a href="{% url 'download' %}">다운로드페이지</a>
    
<!--     
    <a href="index.html"><img src="{% static 'menual.png' %}" class = "menu">사용법</a>
    <a href="index.html"><img src="{% static 'notice.png' %}" class = "menu">공지</a>
    <a href="index.html"><img src="{% static 'login.png' %}" class = "menu">홈화면 </a>
    <a href="login.html"><img src="{% static 'create.png' %}" class = "menu">회원가입</a> -->
  </div>
  <h1>메인페이지</h1>
  
</body>
</html>
