    {% load static %}
<!doctype html>
<html>
<head>
  <title>upload</title>
  <meta charset="utf-8">
</head>
<link rel="stylesheet" href="{% static 'upload.css' %}">
<script src="{% static 'upload.js' %}"></script>
<body>
    <div style="text-align: right; font-size : 1em;">
        <a href="{% url 'home' %}">메인페이지</a>
        <a href="{% url 'upload' %}">업로드페이지</a>
        <a href="{% url 'download' %}">다운로드페이지</a>
    <!--     
        <a href="index.html"><img src="{% static 'menual.png' %}" class = "menu">사용법</a>
        <a href="index.html"><img src="{% static 'notice.png' %}" class = "menu">공지</a>
        <a href="index.html"><img src="{% static 'login.png' %}" class = "menu">홈화면 </a>
        <a href="login.html"><img src="{% static 'create.png' %}" class = "menu">회원가입</a> -->
      </div>
    <h1>업로드 페이지</h1>
    <div id="upload_wrap">
        <div id="upload_form">
            <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}" >
            {% csrf_token %}
               <div>
                   <strong class="upload_form_list"><span class="required">* </span> 교재 구분</strong>
                   <div class="upload_form_p">
                       <input type="checkbox" name="content_index" class="book_check" value ="textbook" onclick="display_control(this.value, this.className);" required> 교과서
                       <input type="checkbox" name="content_index" class="book_check" value="simul" onclick="display_control(this.value, this.className);" required> 모의고사
                    <!-- <select name="" id="select_book" onchange="display_control(this.value)">                        <option value="none" selected disabled>교재 구분</option>
                        <option value="textbook">교과서</option>
                        <option value="simul">모의고사</option>
                    </select> -->
                   </div>
               </div>
               
            <div class="upload_form_common">
                <strong class="upload_form_list"><span class="required">* </span>발행 년도</strong>
                <div class="upload_form_p">
                    <select name="year" value="year" id="common_year" required>
                        <option value="" >발행년도 선택</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
            </div>
            
               <div id="upload_form_simul">
                <!-- <div>
                    <strong class="upload_form_list"><span class="required">* </span>발행 년도</strong>
                    <div class="upload_form_p">
                        <select name="year" id="simul_year" required>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                </div> -->

                <div>
                    <strong class="upload_form_list"><span class="required">* </span>월</strong>
                    <div class="upload_form_p">
                        <select name="month" value="month" id="simul_month" class="simul" required>
                            <option value="" >월 선택</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="9">9</option>
                            <option value="11 & 수능">11 & 수능</option>
                            <option value="수능특강">수능특강</option>
                            <option value="수능완성">수능완성</option>
                            <option value="영독연">영독연</option>
                        </select>
                    </div>
                </div>
                <div>
                    <strong class="upload_form_list"><span class="required">* </span>학년</strong>
                    <div class="upload_form_p">
                        <select name="grade" value="month" id="simul_month" class="simul" required>
                            <option value="">학년 선택</option>
                            <option value="1">1학년</option>
                            <option value="2">2학년</option>
                            <option value="3">3학년</option>
                        </select>
                    </div>
                </div>
                
               </div>

               <div id = "upload_form_textbook">
                    <!-- <div>
                        <strong class="upload_form_list"><span class="required">* </span>발행 년도</strong>
                        <div class="upload_form_p">
                            <select name="year" id="textbook_year" required>
                                <option value="2015">2015</option>
                            </select>
                        </div>
                        
                    </div> -->

                    <div>
                        <strong class="upload_form_list"><span class="required">* </span>교재 종류</strong>
                        <div class="upload_form_p">
                            <select name="content_label"value="textbook_type" id="textbook_type" class="textbook" required>
                                <option value="" >교재 선택</option>
                                <option value="영어">영어</option>
                                <option value="영어1">영어1</option>
                                <option value="영어2">영어2</option>
                                <option value="영어회화">영어회화</option>
                                <option value="영어독해와작문">영어독해와작문</option>
                                <option value="실용영어">실용영어</option>
                                <option value="영어권문화">영어권문화</option>
                                <option value="영미문학읽기">영미문학읽기</option>
                                <option value="실용영어2">실용영어2</option>
                                <option value="심화영어1">심화영어1</option>
                                <option value="심화영어2">심화영어2</option>
                                <option value="심화영어독해1">심화영어독해1</option>
                                <option value="심화영어독해2">심화영어독해2</option>
                                <option value="심화회화1">심화회화1</option>
                                <option value="심화회화2">심화회화2</option>
                                <option value="심화작문1">심화작문1</option>
                                <option value="심화작문2">심화작문2</option>
                            
                            </select>
                        </div>
                        

                    </div>
                    
                    <div>
                        <strong class="upload_form_list"><span class="required">* </span>출판사(주관)</strong>
                        <div class="upload_form_p">
                            <select name="publisher" value="publisher" id="publisher" class="textbook" required>
                                <option value="" >출판사 선택</option>
                                <option value="YBM">YBM</option>
                                <option value="교학">교학</option>
                                <option value="금성">금성</option>
                                <option value="능률">능률</option>
                                <option value="다락원">다락원</option>
                                <option value="동아">동아</option>
                                <option value="미래">미래</option>
                                <option value="비상">비상</option>
                                <option value="지학">지학</option>
                                <option value="천재">천재</option>
                            </select>
                        </div>
                        

                    </div>
                    <div>
                        <strong class="upload_form_list"><span class="required">* </span>저자</strong>
                        <div class="upload_form_p">
                            <input type="text" name="author" class="textbook" required>
                        </div>
                        
                    </div>
                    <div>
                        <strong class="upload_form_list"><span class="required">* </span>단원</strong>
                        <div class="upload_form_p">
                            <select name="content_chapter" id="" class="textbook" required>
                                <option value="" >단원 선택</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        
                    </div>
                    
                    <!-- <div>
                        <strong class="upload_form_list"><span class="required">* </span>파일 업로드</strong>
                        <div class="upload_form_p">
                            <input type="file" name="content_file" required>
                        </div>
                    </div>
                     -->
               </div>
            <div class="upload_form_common">
                <strong class="upload_form_list"><span class="required">* </span>종류</strong>
                <div class="upload_form_p">
                    <select name="category" id="" onchange="display_change(this.options[this.selectedIndex].value)" required>
                        <option value="" >종류 선택</option>
                        <option value="handmade">손필기</option>
                        <!-- <option value="워크북">워크북</option> -->
                        <option value="regist_text">지문등록</option>
                        <!-- <option value="유의어">유의어</option> -->
                    </select>
                </div>
            </div>

            <div>
                <div id="simul_file" class="upload_form_common_file">
                    <strong class="upload_form_list"><span class="required">* </span>손필기 파일 업로드</strong>
                    <div class="upload_form_p">
                        <input name="content_file"  type="file" accept=".pdf" class="handmade" required>
                    </div>

                    <strong class="upload_form_list"><span class="required">* </span>지문 번호 선택</strong>
                    <div class="upload_form_p">
                        <input type="checkbox" name="content_number_list" value ="18">18
                        <input type="checkbox" name="content_number_list" value ="19">19
                        <input type="checkbox" name="content_number_list" value ="20">20
                        <input type="checkbox" name="content_number_list" value ="21">21
                        <input type="checkbox" name="content_number_list" value ="22">22 </br>
                        <input type="checkbox" name="content_number_list" value ="23">23
                        <input type="checkbox" name="content_number_list" value ="24">24
                        <input type="checkbox" name="content_number_list" value ="25">25
                        <input type="checkbox" name="content_number_list" value ="26">26
                        <input type="checkbox" name="content_number_list" value ="27">27 </br>
                        <input type="checkbox" name="content_number_list" value ="28">28
                        <input type="checkbox" name="content_number_list" value ="29">29
                        <input type="checkbox" name="content_number_list" value ="30">30
                        <input type="checkbox" name="content_number_list" value ="31">31
                        <input type="checkbox" name="content_number_list" value ="32">32 </br>
                        <input type="checkbox" name="content_number_list" value ="33">33
                        <input type="checkbox" name="content_number_list" value ="34">34
                        <input type="checkbox" name="content_number_list" value ="35">35
                        <input type="checkbox" name="content_number_list" value ="36">36
                        <input type="checkbox" name="content_number_list" value ="37">37 </br>
                        <input type="checkbox" name="content_number_list" value ="38">38
                        <input type="checkbox" name="content_number_list" value ="39">39
                        <input type="checkbox" name="content_number_list" value ="40">40 

                        
                    </div>
                    
                </div>
                <div id="simul_text" class="upload_form_common_file">
                    <strong class="upload_form_list"><span class="required">* </span>지문 번호</strong>
                        <div class="upload_form_p">
                            <input type="number" name="content_number" min="18" max="45" class="input_text" required> </br>
                        </div>
                    <strong class="upload_form_list"><span class="required">* </span>지문 입력</strong>
                        <div class="upload_form_p">
                            <textarea name="content_text" id="" cols="30" rows="10" class="input_text" required></textarea>
                        </div>
                </div>
            </div>

            <div id="upload_btn_list">
                <input type="submit" value="등록" class="upload_form_btn" id="upload_do_btn" onclick="">
                <button class="upload_form_btn" id="upload_cancel_btn" formaction="{% url 'home' %}">취소</button>
                <!-- <input type="button" value="취소" class="upload_form_btn" id="upload_cancel_btn" onclick="location.href='{% url 'home' %}'"> -->
            </div>

            </form>
        </div>
    </div>
</body>
</html>
