{% load static %}
<!doctype html>
<html>
<head>
  <title>upload</title>
  <meta charset="utf-8">
</head>
<style>
.menu{
  position: relative;
  right : 3px;
  top:5px;
  width:15px;
}
h1{
  text-align: center;
}
#upload_wrap{
    
    margin : auto;
    width : 500px;
    
}
#upload_form{
    border : 0.5px solid gray;
    padding : 10px;
}
.upload_form_list{
    float : left;
    line-height: 50px;
}
.upload_form_p{
    margin-left : 30%;
    line-height: 50px;
}
#upload_btn_list{
    text-align: center;
}
.upload_form_btn{
    width : 50px;
    border-radius: 5px;
    border : 0.1px;
}
#upload_do_btn{
    background-color: blue;
    color : white;
}
/* #upload_cancel_btn{
    
    
} */
#upload_form_textbook{
    display: none;
}
#upload_form_simul{
    display : none;
}
.upload_form_common{
    display : none;
}
.upload_form_common_file{
    display : none;
}
.required{
    color : red;
}
</style>
<body>
    <div style="text-align: right; font-size : 0.5em;">
        <a href="index.html"><img src="{% static 'menual.png' %}" class = "menu">사용법</a>
        <a href="index.html"><img src="{% static 'notice.png' %}" class = "menu">공지</a>
        <a href="index.html"><img src="{% static 'login.png' %}" class = "menu">홈화면 </a>
        <a href="login.html"><img src="{% static 'create.png' %}" class = "menu">회원가입</a>
      </div>
    <h1>파일등록</h1>
    <div id="upload_wrap">
        <div id="upload_form">
            <form method="post" enctype="multipart/form-data" novalidate action="{% url 'create' %">
            {% csrf_token %}
               <div>
                   <strong class="upload_form_list"><span class="required">* </span> 교재 구분</strong>
                   <div class="upload_form_p">
                       <input type="checkbox" class="book_check" value ="textbook" onclick="display_control(this.value, this.className)"> 교과서
                       <input type="checkbox" class="book_check" value="simul" onclick="display_control(this.value, this.className)"> 모의고사
                    <!-- <select name="" id="select_book" onchange="display_control(this.value)">                        <option value="none" selected disabled>교재 구분</option>
                        <option value="textbook">교과서</option>
                        <option value="simul">모의고사</option>
                    </select> -->
                   </div>
               </div>
               <script>

                   //display control 안쪽도 함수로 나누려고 했는데 이상하게 안됨;
                   //index.html에서는 됐는뎅;
                //    function display_on(targetName){
                       
                //     document.getElementById(targetName).style.display = 'block';
                //    }
                //    function display_off(targetName){
                    
                //     document.getElementById(targetName).style.display = 'none';
                //    }


                   //교재구분에서 교과서, 모의고사 선택할때 나오는 목록이 달라지게 하는 함수
                   function display_control(value, className){


                       if(value === "simul"){
                           document.getElementsByClassName(className)[0].checked = false;
                           document.getElementById("upload_form_textbook").style.display = 'none';
                           

                           document.getElementById("upload_form_simul").style.display = 'block';
                           
                       }
                       else if(value === "textbook"){
                           document.getElementsByClassName(className)[1].checked = false;
                           document.getElementById("upload_form_simul").style.display = 'none';
                           

                           document.getElementById("upload_form_textbook").style.display = 'block';
                           
                       }
                       else{
                        document.getElementById("upload_form_simul").style.display = 'none';
                        document.getElementById("upload_form_textbook").style.display = 'none';
                       }

                    //    공통 카테고리 display control
                       var check_count = document.getElementsByClassName("upload_form_common").length;
                       for(var i=0; i<check_count; i++){
                           document.getElementsByClassName("upload_form_common")[i].style.display = "block";
                       }
                    
                   }
               </script>
            <div class="upload_form_common">
                <strong class="upload_form_list"><span class="required">* </span>발행 년도</strong>
                <div class="upload_form_p">
                    <select value="year" id="common_year" required>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
            </div>
            
               <div id="upload_form_simul">
                <!-- <div>
                    <strong class="upload_form_list"><span class="required">* </span>발행 년도</strong>
                    <div class="upload_form_p">
                        <select name="year" id="simul_year" required>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                </div> -->

                <div>
                    <strong class="upload_form_list"><span class="required">* </span>월</strong>
                    <div class="upload_form_p">
                        <select value="month" id="simul_month" required>
                            <option value="2020">3</option>
                            <option value="2019">6</option>
                            <option value="2018">9</option>
                            <option value="2018">11 & 수능</option>
                            <option value="2018">수능특강</option>
                            <option value="2018">수능완성</option>
                            <option value="2018">영독연</option>
                        </select>
                    </div>
                </div>
                <div>
                    <strong class="upload_form_list"><span class="required">* </span>학년</strong>
                    <div class="upload_form_p">
                        <select value="month" id="simul_month" required>
                            <option value="1">1학년</option>
                            <option value="2">2학년</option>
                            <option value="3">3학년</option>
                        </select>
                    </div>
                </div>
                
               </div>

               <div id = "upload_form_textbook">
                    <!-- <div>
                        <strong class="upload_form_list"><span class="required">* </span>발행 년도</strong>
                        <div class="upload_form_p">
                            <select name="year" id="textbook_year" required>
                                <option value="2015">2015</option>
                            </select>
                        </div>
                        
                    </div> -->

                    <div>
                        <strong class="upload_form_list"><span class="required">* </span>교재 종류</strong>
                        <div class="upload_form_p">
                            <select value="textbook_type" id="textbook_type" required>
                                <option value="영어">영어</option>
                                <option value="영어1">영어1</option>
                                <option value="영어2">영어2</option>
                                <option value="영어회화">영어회화</option>
                                <option value="영어독해와작문">영어독해와작문</option>
                                <option value="실용영어">실용영어</option>
                                <option value="영어권문화">영어권문화</option>
                                <option value="영미문학읽기">영미문학읽기</option>
                                <option value="실용영어2">실용영어2</option>
                                <option value="심화영어1">심화영어1</option>
                                <option value="심화영어2">심화영어2</option>
                                <option value="심화영어독해1">심화영어독해1</option>
                                <option value="심화영어독해2">심화영어독해2</option>
                                <option value="심화회화1">심화회화1</option>
                                <option value="심화회화2">심화회화2</option>
                                <option value="심화작문1">심화작문1</option>
                                <option value="심화작문2">심화작문2</option>
                            
                            </select>
                        </div>
                        

                    </div>
                    
                    <div>
                        <strong class="upload_form_list"><span class="required">* </span>출판사(주관)</strong>
                        <div class="upload_form_p">
                            <select value="publisher" id="publisher" required>
                                <option value="YBM">YBM</option>
                                <option value="교학">교학</option>
                                <option value="금성">금성</option>
                                <option value="능률">능률</option>
                                <option value="다락원">다락원</option>
                                <option value="동아">동아</option>
                                <option value="미래">미래</option>
                                <option value="비상">비상</option>
                                <option value="지학">지학</option>
                                <option value="천재">천재</option>
    
                            </select>
                        </div>
                        

                    </div>
                    <div>
                        <strong class="upload_form_list"><span class="required">* </span>저자</strong>
                        <div class="upload_form_p">
                            <input type="text" required>
                        </div>
                        
                    </div>
                    <div>
                        <strong class="upload_form_list"><span class="required">* </span>단원</strong>
                        <div class="upload_form_p">
                            <select name="" id="" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        
                    </div>
                    
                    <!-- <div>
                        <strong class="upload_form_list"><span class="required">* </span>파일 업로드</strong>
                        <div class="upload_form_p">
                            <input type="file" name="content_file" required>
                        </div>
                    </div>
                     -->
               </div>
            <div class="upload_form_common">
                <strong class="upload_form_list"><span class="required">* </span>종류</strong>
                <div class="upload_form_p">
                    <select name="" id="" onchange="display_change(this.options[this.selectedIndex].value)" required>
                        <option value="none" selected disabled>종류 선택</option>
                        <option value="handmade">손필기</option>
                        <!-- <option value="워크북">워크북</option> -->
                        <option value="regist_text">지문등록</option>
                        <!-- <option value="유의어">유의어</option> -->
                    </select>
                </div>
            </div>
            <script>

                //종류에서 손필기, 지문등록 두가지 중에서 선택할때 나오는 목록 달라지게 하는 함수
                function display_change(value){
                    //손필기 선택
                    if(value === "handmade"){
                            document.getElementById("simul_file").style.display = 'block';
                            document.getElementById("simul_text").style.display = 'none';
                        }
                    else{
                        document.getElementById("simul_file").style.display = 'none';
                        document.getElementById("simul_text").style.display = 'block';
                    }
                }

            </script>
            <div>
                <div id="simul_file" class="upload_form_common_file">
                    <strong class="upload_form_list"><span class="required">* </span>손필기 파일 업로드</strong>
                    <div class="upload_form_p">
                        <input type="file" required>
                    </div>

                    <strong class="upload_form_list"><span class="required">* </span>지문 범위</strong>
                    <div class="upload_form_p">
                        <select name="" id="" onchange="change_max(this.selectedIndex)">
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43~45</option>
                        </select>
                        <strong> ~ </strong>
                        <select name="" id="selected_max">
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43~45</option>
                        </select>
                    </div>
                    <script>
                        //max 범위조정
                        function change_max(value){
                            for(var i=0; i<value; i++){
                                document.getElementById("selected_max").options[i].style.display = 'none';
                            }
                            for(var i=value; i<16; i++){
                                document.getElementById("selected_max").options[i].style.display = 'block';
                            }
                        }
                    </script>
                </div>
                <div id="simul_text" class="upload_form_common_file">
                    <strong class="upload_form_list"><span class="required">* </span>지문 번호</strong>
                        <div class="upload_form_p">
                            <input type="number" min="18" max="45" required> </br>
                        </div>
                    <strong class="upload_form_list"><span class="required">* </span>지문 입력</strong>
                        <div class="upload_form_p">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>
                </div>
            </div>

            <div id="upload_btn_list">
                <input type="submit" value="등록" class="upload_form_btn" id="upload_do_btn">
                <input type="button" value="취소" class="upload_form_btn" id="upload_cancel_btn">
            </div>
            </form>
        </div>
    </div>
</body>
</html>
